<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c531526e8d.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <title><%=title%></title>
</head>

<body>
    <% include ./Components/Navbar %>

    <div id="Web_1920___1">
        <svg class="Video">
            <pattern elementId="Video_A0_Rectangle_2" id="Video_A0_Rectangle_2_pattern" x="0" y="0" width="100%"
                height="100%">
                <image x="0" y="0" width="100%" height="100%" href="./image/Video_A0_Rectangle_2_pattern.png"
                    xlink:href="./image/Video_A0_Rectangle_2_pattern.png"></image>
            </pattern>
            <rect id="Video" rx="0" ry="0" x="0" y="0" width="1010" height="834">
            </rect>
        </svg>
        <div id="Header">
            <div id="Sign_up_for_Free_">
                <span>Sign up for Free</span><br>
            </div>
            <div id="Button">
                <svg class="Rectangle_1">
                    <rect id="Rectangle_1" rx="4" ry="4" x="0" y="0" width="120" height="40">
                    </rect>
                </svg>
                <div id="SHOP_NOW">
                    <a href="/user/register">REGISTER</a>
                </div>
            </div>
        </div>
        <div id="Footer_8">
            <svg class="Base_A0_Rectangle_5">
                <rect id="Base_A0_Rectangle_5" rx="0" ry="0" x="0" y="0" width="1920" height="200">
                </rect>
            </svg>
            <div id="ID497_Evergreen_Rd__Roseville_">
                <span>497 Evergreen Rd. Roseville, CA 95673<br />+44 345 678 903<br />adobexd@mail.com</span>
            </div>
            <div id="About_Us_Contact_Terms___Condi">
                <span>About Us<br />Contact<br />Terms & Conditions</span>
            </div>
            <div id="Facebook_Twitter_Instagram">
                <span>Facebook<br />Twitter<br />Instagram</span>
            </div>
            <div id="_LaDucHao_2017">
                <span>©LaDucHao 2017</span>
            </div>
            <div id="Required_Field">
                <svg class="Rectangle_130">
                    <rect id="Rectangle_130" rx="4" ry="4" x="0" y="0" width="210" height="40">
                    </rect>
                </svg>
                <div id="Email_Address">
                    <span>Email Address</span>
                </div>
            </div>
            <div id="button">
                <svg class="Rectangle_131">
                    <rect id="Rectangle_131" rx="0" ry="0" x="0" y="0" width="60" height="40">
                    </rect>
                </svg>
                <div id="OK">
                    <span>OK</span>
                </div>
            </div>
            <div id="Subscribe_to_our_newsletter">
                <span>Subscribe to our newsletter</span>
            </div>
            <svg class="Path_38" viewBox="80 0 7.311 14">
                <path id="Path_38"
                    d="M 84.74444580078125 14 L 84.74444580078125 7.622222423553467 L 86.92222595214844 7.622222423553467 L 87.23334503173828 5.133333683013916 L 84.74444580078125 5.133333683013916 L 84.74444580078125 3.577777862548828 C 84.74444580078125 2.877778053283691 84.97779083251953 2.333333730697632 85.9888916015625 2.333333730697632 L 87.31111145019531 2.333333730697632 L 87.31111145019531 0.07777778059244156 C 87 0.07777778059244156 86.22222900390625 0 85.36666870117188 0 C 83.5 0 82.17778015136719 1.166666626930237 82.17778015136719 3.266666412353516 L 82.17778015136719 5.133333206176758 L 80 5.133333206176758 L 80 7.622222423553467 L 82.17778015136719 7.622222423553467 L 82.17778015136719 14 L 84.74444580078125 14 Z">
                </path>
            </svg>
            <svg class="Path_39" viewBox="38 2 14 11.356">
                <path id="Path_39"
                    d="M 42.43333435058594 13.35555362701416 C 47.72222137451172 13.35555362701416 50.59999465942383 8.999999046325684 50.59999465942383 5.188889026641846 C 50.59999465942383 5.033333778381348 50.59999465942383 4.955555438995361 50.59999465942383 4.800000190734863 C 51.14444351196289 4.411111354827881 51.61111068725586 3.866666793823242 51.99999618530273 3.322222232818604 C 51.45555114746094 3.555555820465088 50.91110610961914 3.711111068725586 50.36666488647461 3.788889169692993 C 50.9888916015625 3.400000095367432 51.37777709960938 2.855555534362793 51.61111068725586 2.233333587646484 C 51.0666618347168 2.54444432258606 50.44444274902344 2.777777433395386 49.82221984863281 2.933333396911621 C 49.27777099609375 2.311110973358154 48.49999618530273 2 47.72222137451172 2 C 46.16666793823242 2 44.84444427490234 3.322221994400024 44.84444427490234 4.877777576446533 C 44.84444427490234 5.111110687255859 44.84444427490234 5.344443798065186 44.92221450805664 5.5 C 42.5111083984375 5.344444274902344 40.41110992431641 4.255555629730225 39.0111083984375 2.466666460037231 C 38.77777481079102 2.855555534362793 38.62221908569336 3.399999856948853 38.62221908569336 3.944444179534912 C 38.62221908569336 4.955555438995361 39.16666793823242 5.811110973358154 39.86666488647461 6.355555057525635 C 39.40000152587891 6.355555057525635 38.93333435058594 6.199999332427979 38.54444122314453 5.966666698455811 C 38.54444122314453 5.966666698455811 38.54444122314453 5.966666698455811 38.54444122314453 5.966666698455811 C 38.54444122314453 7.366666316986084 39.5555534362793 8.533331871032715 40.87777709960938 8.766665458679199 C 40.64444351196289 8.844443321228027 40.41110992431641 8.844443321228027 40.09999465942383 8.844443321228027 C 39.94443893432617 8.844443321228027 39.71110534667969 8.844443321228027 39.5555534362793 8.766665458679199 C 39.94443893432617 9.933332443237305 40.95555114746094 10.71110916137695 42.27777099609375 10.78888702392578 C 41.26666259765625 11.56666469573975 40.02222061157227 12.03333187103271 38.70000076293945 12.03333187103271 C 38.46666717529297 12.03333187103271 38.23333358764648 12.03333187103271 37.99999618530273 11.95555305480957 C 39.24444198608398 12.88888740539551 40.79999542236328 13.35555362701416 42.43333435058594 13.35555362701416">
                </path>
            </svg>
            <svg class="Path_40" viewBox="0 0 14 14">
                <path id="Path_40"
                    d="M 7 1.244444489479065 C 8.866666793823242 1.244444489479065 9.100000381469727 1.244444489479065 9.80000114440918 1.322222352027893 C 10.5 1.322222352027893 10.88888931274414 1.47777795791626 11.12222290039063 1.555555582046509 C 11.43333339691162 1.711111187934875 11.66666698455811 1.866666674613953 11.89999961853027 2.099999904632568 C 12.13333320617676 2.333333253860474 12.28888893127441 2.566666841506958 12.44444465637207 2.877778053283691 C 12.5222225189209 3.111111164093018 12.67777729034424 3.5 12.67777729034424 4.199999809265137 C 12.67777729034424 4.90000057220459 12.75555610656738 5.133333683013916 12.75555610656738 7 C 12.75555610656738 8.866666793823242 12.75555610656738 9.100000381469727 12.67777729034424 9.80000114440918 C 12.67777729034424 10.5 12.52222061157227 10.88888931274414 12.44444370269775 11.12222290039063 C 12.2888879776001 11.43333339691162 12.13333225250244 11.66666698455811 11.89999961853027 11.89999961853027 C 11.66666698455811 12.13333320617676 11.4333324432373 12.28888893127441 11.12222194671631 12.44444465637207 C 10.88888835906982 12.5222225189209 10.49999904632568 12.67777729034424 9.800000190734863 12.67777729034424 C 9.100000381469727 12.67777729034424 8.866666793823242 12.75555610656738 7 12.75555610656738 C 5.133333206176758 12.75555610656738 4.90000057220459 12.75555610656738 4.199999809265137 12.67777729034424 C 3.5 12.67777729034424 3.111111164093018 12.52222061157227 2.877778053283691 12.44444370269775 C 2.566666603088379 12.2888879776001 2.333333253860474 12.13333225250244 2.099999904632568 11.89999961853027 C 1.866666674613953 11.66666698455811 1.711111187934875 11.4333324432373 1.555555582046509 11.12222194671631 C 1.47777783870697 10.88888835906982 1.322222352027893 10.49999904632568 1.322222352027893 9.800000190734863 C 1.322222352027893 9.100000381469727 1.244444489479065 8.866666793823242 1.244444489479065 7 C 1.244444489479065 5.133333206176758 1.244444489479065 4.90000057220459 1.322222352027893 4.199999809265137 C 1.322222352027893 3.5 1.47777783870697 3.111111164093018 1.555555582046509 2.877778053283691 C 1.711111187934875 2.566666603088379 1.866666674613953 2.333333253860474 2.099999904632568 2.099999904632568 C 2.333333253860474 1.788888692855835 2.566666603088379 1.633333206176758 2.877778053283691 1.555555582046509 C 3.111111164093018 1.47777783870697 3.5 1.322222352027893 4.199999809265137 1.322222352027893 C 4.90000057220459 1.244444489479065 5.133333206176758 1.244444489479065 7 1.244444489479065 M 7 0 C 5.133333206176758 0 4.822222232818604 0 4.122222423553467 0.07777778059244156 C 3.344444513320923 0.07777778059244156 2.877778053283691 0.2333333343267441 2.411111354827881 0.3888888955116272 C 1.94444465637207 0.5444445013999939 1.555555582046509 0.7777777910232544 1.166666626930237 1.166666626930237 C 0.7777777910232544 1.555555582046509 0.5444445013999939 1.94444465637207 0.3888888955116272 2.411111116409302 C 0.1555555611848831 2.877778053283691 0.07777778059244156 3.344444513320923 0.07777778059244156 4.122222423553467 C 0 4.822222232818604 0 5.133333206176758 0 7 C 0 8.866666793823242 0 9.177777290344238 0.07777778059244156 9.877777099609375 C 0.07777778059244156 10.65555477142334 0.2333333343267441 11.12222290039063 0.3888888955116272 11.58888816833496 C 0.5444445013999939 12.05555629730225 0.7777777910232544 12.44444465637207 1.166666626930237 12.83333301544189 C 1.555555582046509 13.22222232818604 1.94444465637207 13.4555549621582 2.411111116409302 13.61111068725586 C 2.877777814865112 13.76666736602783 3.344444513320923 13.92222213745117 4.122222423553467 13.92222213745117 C 4.822222232818604 14 5.133333206176758 14 7 14 C 8.866666793823242 14 9.177777290344238 14 9.877777099609375 13.92222213745117 C 10.65555477142334 13.92222213745117 11.12222290039063 13.7666654586792 11.58888816833496 13.61111068725586 C 12.05555629730225 13.4555549621582 12.44444465637207 13.22222232818604 12.83333301544189 12.83333301544189 C 13.22222232818604 12.44444465637207 13.4555549621582 12.05555629730225 13.61111068725586 11.58888816833496 C 13.76666736602783 11.12222194671631 13.92222213745117 10.65555477142334 13.92222213745117 9.877777099609375 C 13.92222213745117 9.100000381469727 14 8.866666793823242 14 7 C 14 5.133333206176758 14 4.822222232818604 13.92222213745117 4.122222423553467 C 13.92222213745117 3.344444513320923 13.7666654586792 2.877778053283691 13.61111068725586 2.411111354827881 C 13.4555549621582 1.94444465637207 13.22222232818604 1.555555582046509 12.83333301544189 1.166666746139526 C 12.44444465637207 0.7777778506278992 12.05555629730225 0.5444445610046387 11.58888816833496 0.3888889849185944 C 11.12222194671631 0.2333334386348724 10.65555477142334 0.07777786254882813 9.877777099609375 0.07777786254882813 C 9.177777290344238 0 8.866666793823242 0 7 0 M 7 3.422222375869751 C 4.97777795791626 3.422222375869751 3.422222375869751 4.97777795791626 3.422222375869751 7 C 3.422222375869751 9.022222518920898 5.05555534362793 10.57777881622314 7 10.57777881622314 C 9.022222518920898 10.57777881622314 10.57777881622314 8.94444465637207 10.57777881622314 7 C 10.57777881622314 5.05555534362793 9.022222518920898 3.422222375869751 7 3.422222375869751 M 7 9.333333015441895 C 5.677777767181396 9.333333015441895 4.666666507720947 8.322222709655762 4.666666507720947 7 C 4.666666507720947 5.677777767181396 5.677777767181396 4.666666507720947 7 4.666666507720947 C 8.322222709655762 4.666666507720947 9.333333015441895 5.677777767181396 9.333333015441895 7 C 9.333333015441895 8.322222709655762 8.322222709655762 9.333333015441895 7 9.333333015441895 M 10.7333345413208 2.411111116409302 C 10.26666641235352 2.411111116409302 9.877777099609375 2.799999952316284 9.877777099609375 3.266666412353516 C 9.877777099609375 3.733333110809326 10.26666641235352 4.122221946716309 10.7333345413208 4.122221946716309 C 11.19999980926514 4.122221946716309 11.58888912200928 3.733333110809326 11.58888912200928 3.266666412353516 C 11.58888816833496 2.799999952316284 11.19999980926514 2.411111116409302 10.7333345413208 2.411111116409302">
                </path>
            </svg>
            <div id="MOVIE_APP__A0_Text_14">
                <span>MOVIE-APP</span><br>
            </div>
        </div>
        <div id="Hero_Large_Desktop">
            <svg class="Image">
                <pattern elementId="Image_A0_Rectangle_9" id="Image_A0_Rectangle_9_pattern" x="0" y="0" width="100%"
                    height="100%">
                    <image x="0" y="0" width="100%" height="100%" href="./image/Image_A0_Rectangle_9_pattern.png"
                        xlink:href="./image/Image_A0_Rectangle_9_pattern.png"></image>
                </pattern>
                <rect id="Image" rx="0" ry="0" x="0" y="0" width="1800" height="620.765">
                </rect>
            </svg>
            <div id="title">
                <div id="AMAZING_PLACES_EXPLORING_YOUR_">
                    <span>AMAZING PLACES EXPLORING YOUR SELF</span>
                </div>
                <div id="additional_info">
                    <div id="page">
                        <div id="VIDEO">
                            <span>VIDEO</span>
                        </div>
                        <div id="web">
                            <svg class="Path_4" viewBox="0 0 16 16">
                                <path id="Path_4"
                                    d="M 2.400000095367432 2.400000095367432 C 3.866666793823242 0.8000000715255737 5.733333587646484 0 8 0 C 10.26666641235352 0 12.13333415985107 0.8000000715255737 13.60000038146973 2.400000095367432 C 15.19999980926514 3.866666793823242 16 5.733333587646484 16 8 C 16 10.26666641235352 15.19999980926514 12.13333415985107 13.60000038146973 13.60000038146973 C 12.13333415985107 15.19999980926514 10.26666641235352 16 8 16 C 5.733333587646484 16 3.866666793823242 15.19999980926514 2.400000333786011 13.60000038146973 C 0.9333337545394897 12 0 10.26666641235352 0 8 C 0 5.733333587646484 0.8000000715255737 3.866666793823242 2.400000095367432 2.400000095367432 Z M 9.066667556762695 14.40000057220459 C 9.600000381469727 14.40000057220459 10.26666736602783 14 11.0666675567627 13.20000076293945 C 11.60000038146973 12.26666641235352 12 11.33333396911621 12 10.40000057220459 C 12 9.733333587646484 11.73333358764648 9.200000762939453 11.33333396911621 8.80000114440918 C 10.80000114440918 8.266666412353516 10.26666641235352 8 9.600000381469727 8 L 8.266666412353516 8 C 7.866666793823242 8 7.466666698455811 7.866666793823242 7.066667079925537 7.733333587646484 C 6.800000190734863 7.466666698455811 6.666666984558105 7.200000286102295 6.666666984558105 6.800000190734863 C 6.666666984558105 6.533333778381348 6.800000190734863 6.399999618530273 6.933333396911621 6.266666412353516 C 7.066666603088379 6.133333206176758 7.333333492279053 6 7.466666698455811 6 C 7.599999904632568 6 8 6.133333206176758 8.133333206176758 6.40000057220459 C 8.40000057220459 6.533333778381348 8.533333778381348 6.666666984558105 8.666666984558105 6.666666984558105 C 8.800000190734863 6.666666984558105 9.066667556762695 6.666666984558105 9.200000762939453 6.533333778381348 C 9.333333969116211 6.40000057220459 9.333333969116211 6.133333206176758 9.333333969116211 6 C 9.333333969116211 5.599999904632568 9.066667556762695 5.066666603088379 8.666666984558105 4.666666984558105 C 9.066667556762695 3.866666793823242 9.333333969116211 3.066666603088379 9.333333969116211 2.133333444595337 C 9.333333969116211 2 9.200000762939453 1.866666674613953 9.066667556762695 1.866666674613953 C 8.666666984558105 1.733333349227905 8.266666412353516 1.600000143051147 8 1.600000143051147 C 6.533333778381348 1.733333349227905 5.466666698455811 2 4.533333778381348 2.666666746139526 C 3.733333349227905 3.333333492279053 3.333333492279053 4.266666889190674 3.333333492279053 5.333333492279053 C 3.333333492279053 6.40000057220459 3.733333349227905 7.200000286102295 4.400000095367432 7.866666793823242 C 5.066666603088379 8.533333778381348 6 8.933334350585938 6.933333396911621 8.933334350585938 L 6.933333396911621 8.933334350585938 C 6.933333396911621 9.066667556762695 6.933333396911621 9.333333969116211 6.933333396911621 9.466667175292969 C 6.933333396911621 10.00000095367432 7.066666603088379 10.40000057220459 7.466666698455811 10.80000114440918 C 7.733333110809326 11.20000076293945 8.133333206176758 11.46666717529297 8.666666984558105 11.60000133514404 L 8.666666984558105 14.00000190734863 C 8.666666984558105 14.13333511352539 8.666666984558105 14.13333511352539 8.800000190734863 14.26666831970215 C 8.933333396911621 14.40000057220459 8.933333396911621 14.40000057220459 9.066667556762695 14.40000057220459 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div id="Topic">
                        <div id="INTERACT">
                            <span>INTERACT</span>
                        </div>
                        <div id="topic">
                            <svg class="topic_A0_BooleanGroup_1" viewBox="0 0 14 15.999">
                                <path id="topic_A0_BooleanGroup_1"
                                    d="M 13.99853515625 15.99918270111084 L 0 15.99918270111084 L 0 0 L 13.99951171875 0 L 13.99951171875 15.9982213973999 L 13.99951171875 15.99918270111084 Z M 1.999755859375 13.99952411651611 L 12 13.99952411651611 L 12 1.99965763092041 L 1.999755859375 1.99965763092041 L 1.999755859375 13.99952411651611 Z M 4.000244140625 9.999249458312988 L 4.000244140625 7.999590873718262 L 10.000244140625 7.999590873718262 L 10.000244140625 9.999249458312988 L 4.000244140625 9.999249458312988 Z M 4.000244140625 5.99897289276123 L 4.000244140625 3.99931526184082 L 10.000244140625 3.99931526184082 L 10.000244140625 5.99897289276123 L 4.000244140625 5.99897289276123 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div id="autor">
                <div id="by_La_Duc_Hao">
                    <span>by La Duc Hao</span>
                </div>
            </div>
            <div id="next_story">
                <svg class="Rectangle_428">
                    <rect id="Rectangle_428" rx="6" ry="6" x="0" y="0" width="360" height="157">
                    </rect>
                </svg>
                <div id="NEXT_STORY">
                    <span>NEXT STORY</span>
                </div>
                <div id="Morbi_eleifend_a_libero">
                    <span>Morbi eleifend a libero</span>
                </div>
                <div id="Quisque_viverra_interdum_velit">
                    <span>Quisque viverra interdum velit, et cursus magna sagittis in. In dui dui.</span>
                </div>
                <svg class="arrow" viewBox="0 0 10 6">
                    <path id="arrow"
                        d="M 5 6 C 4.699999809265137 6 4.5 5.900000095367432 4.300000190734863 5.699999809265137 L 0.300000011920929 1.700000047683716 C -0.09999999403953552 1.299999952316284 -0.09999999403953552 0.699999988079071 0.300000011920929 0.300000011920929 C 0.699999988079071 -0.09999996423721313 1.299999952316284 -0.09999999403953552 1.700000047683716 0.300000011920929 L 5 3.600000143051147 L 8.300000190734863 0.3000001311302185 C 8.699999809265137 -0.09999987483024597 9.300000190734863 -0.09999987483024597 9.699999809265137 0.3000001311302185 C 10.09999942779541 0.7000001072883606 10.09999942779541 1.300000190734863 9.699999809265137 1.700000047683716 L 5.699999809265137 5.699999809265137 C 5.5 5.900000095367432 5.300000190734863 6 5 6 Z">
                    </path>
                </svg>
            </div>
        </div>
        <svg class="Line_1">
            <path id="Line_1" d="M 0 0 L 1261 0">
            </path>
        </svg>
    </div>
    <% include ./Components/Footer %>