body{
    background-image: url('../image/NoPath___Copy__5__A0_Rectangle_2_pattern.png');
    background-size: cover;
}
div.content {
    margin-top: 100px;
    height: 627;
    width: 150;
}
h2{
    text-align: center
}
a.nav-link {
    font-size: 20px;
    color: black
}